#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
  
}
img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}
.card{
  margin: 5%;
  
  height: 50%;
  width: 85%;
  display: grid;
  grid-template-areas: "i i h h"
                       "i i s s" 
                       "b b b b"                     
}
.jeder{
  grid-area: h;
  color: bisque;
  font-family: 'Apple Chancery, cursive' ;
}
.pic{
  grid-area: i;
  align-items: center;
}
.con{
  grid-area: s;
  align-items: center;
  font-family: 'New Century Schoolbook, TeX Gyre Schola, serif';
}
.btn{
  grid-area: b;
}
.barra{
  grid-template-areas:  "t t t bt"
                        "t t t bt"; 
}
.titulo{
  font-family: 'Jazz LET, fantasy';
  color: red;
  font-size:xx-large;
  grid-area: t;
}
.btnSalir{
  grid-area: bt;
}