<ion-header [translucent]="true" class="barra">
  <ion-toolbar >
    <ion-title class="titulo">
      HelathCare
    </ion-title>
    <ion-button (click)="onLogout()" class="btnSalir"> Logout</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-card class="card" color="secondary">
        <img src='assets/img/crearPaciente.jpg' class="pic">
        <ion-card-header class="jeder">
            <ion-card-title>Nuevo Paciente</ion-card-title>
        </ion-card-header>
        <ion-card-content class="con">
            Aqui es el registro de un nuevo Paciente
        </ion-card-content>
        <ion-button (click)="btncrearP()" class="bnt" expand="block">Acceder al Formulario</ion-button>
    </ion-card>

    <ion-card class="card" color="secondary">
        <img src='assets/img/Paciente.jpg' class="pic">
        <ion-card-header class="jeder">
            <ion-card-title>Pacientes</ion-card-title>
        </ion-card-header>
        <ion-card-content class="con">
            He aqui la lista del los Pacientes registrados.
        </ion-card-content>
        <ion-button (click)="btnListaP()" class="bnt">Acceder a la Lista</ion-button>
    </ion-card>

    <ion-card class="card" color="secondary">
        <img src='assets/img/misPacientes.jpg' class="pic">
        <ion-card-header class="jeder">
            <ion-card-title>Mis Pacientes</ion-card-title>
        </ion-card-header>
        <ion-card-content class="con">
            He aqui la lista de mis pacientes.
        </ion-card-content>
        <ion-button (click)="btnMisP()" class="bnt">Acceder a la Lista</ion-button>
    </ion-card>

    <ion-card class="card" color="secondary">
        <img src='assets/img/Doctor.jpg' class="pic">
        <ion-card-header class="jeder">
            <ion-card-title>Doctores</ion-card-title>
        </ion-card-header>
        <ion-card-content class="con">
            He aqui la lista del los doctores registrados.
        </ion-card-content>
        <ion-button (click)="btnListaD()" class="bnt">Acceder a la Lista</ion-button>
    </ion-card>

    <ion-card class="card" color="secondary">
        <img src='assets/img/crearDoctor.jpg' class="pic">
        <ion-card-header class="jeder">
            <ion-card-title>Nuevo Doctor</ion-card-title>
        </ion-card-header>
        <ion-card-content class="con">
            Aqui es el registro de un nuevo Doctor
        </ion-card-content>
        <ion-button (click)="btncrearD()" class="bnt">Acceder al Formulario</ion-button>
    </ion-card>

    <ion-card class="card" color="secondary">
        <img src='assets/img/misPacientes1.jpg' class="pic">
        <ion-card-header class="jeder">
            <ion-card-title>Registrer</ion-card-title>
        </ion-card-header>
        <ion-card-content class="con">
            Registro
        </ion-card-content>
        <ion-button (click)="btnReg()" class="bnt">Acceder al Registrer</ion-button>
    </ion-card>

</ion-content>